
__pycache__/__init__.cpython-37.pyc
__pycache__/prefs.cpython-37.pyc
ui/__pycache__/get_icon.cpython-37.pyc
ui/__pycache__/pie_menus.cpython-37.pyc
.vscode/launch.json
*.pyc
operators/__pycache__/mesh_history_operator.cpython-37.pyc
operators/__pycache__/mesh_history_operator.cpython-37.pyc
